:root {
  //Colors
  --grey: #212121;
  --grey-light: #f2f2f2;
  --spot: #68ebbc;
}

details {
  box-sizing: border-box;

  //Transition for the animation
  transition: all 0.3s ease-out;

  //Some extra styling
  font-size: 14px;
  color: var(--grey);
  background: var(--grey-light);
  border-radius: 10px;
  overflow: hidden;

  &[open] {
    //Animate spacing
    padding-bottom: 20px;

    summary {
      //Animate spacing
      margin-bottom: 10px;

      //Rotate custom arrow
      &::before {
        transform: rotate(-135deg) translate(-30%, 0%);
      }
    }
  }

  &:not(:first-child) {
    margin-top: 10px;
  }
}

summary {
  display: flex;
  align-items: center;

  position: relative;
  padding: 10px 16px;

  //Transition for the animation
  transition: margin 0.3s ease-out;

  //Extra styling
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;

  //Remove the default arrow
  &::-webkit-details-marker {
    display: none;
  }

  //Add custom arrow
  &::before {
    content: "";

    display: block;

    height: 6px;
    flex: 0 0 6px;

    margin-right: 20px;

    border-right: 2px solid var(--grey);
    border-bottom: 2px solid var(--grey);

    transition: all 0.3s;

    transform: rotate(45deg) translate(0, -30%);
  }
}

.content {
  padding: 0 20px;
}
