.container {
  height: 250vh;
}

.resizeInfo {
  position: fixed;
}

.buttons-container {
  display: flex;
  top: 30%;
}

.back-to-top-button {
  position: fixed;
  bottom: 150px;
  right: 55px;
  opacity: 0;
  transition: background-color .3s, opacity .5s, visibility .5s;
  background-color: #2fb644;
  border-radius: 50%;
  font-weight: 700;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
}

.back-to-top-button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  color: #fff;
}

.back-to-top-button:hover {
  background-color: #34ca4c;
}

.back-to-top-button:active {
  background-color: #48d05d;
}

.show {
  opacity: 1;
}