.parent {
  position: relative;
}

.size-scroll {
  position: absolute;
  top: 30vh;
  left: 30vw;
  width: 300px;
  height: 300px;
  border: 5px solid #E8C48F;
  padding: 20px;
  overflow: auto;
}

#field {
  width: 200px;
  border: 10px groove black;
  background-color: #bdbdbd;
  position: relative;
}

#ball {
  position: absolute;
}