/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3rem;

  /* Colors */
  --title-color: #0B0A0A;
  --text-color: #ffffff;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: linear-gradient(#403F44, #1E1B32);

  /* Font and typography */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.2rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Marges */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /* Z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

  /* Base */
*,::before,::after {
    box-sizing: border-box;
  }

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 96vh;
  height: 100%;
}

h1, h2, h3, ul {
  margin: 0;
}

h1, h2, h3 {
  color: var(--title-color)
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--text-color);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: .1rem;
  bottom: 0;
  left: 0;
  background-color: var(--text-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home__container:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 1.5rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.icon {
  width: 3rem;
  height: 3rem;
}